
COPTAS/.idea/.name
COPTAS/.idea/compiler.xml
COPTAS/.idea/deploymentTargetDropDown.xml
COPTAS/.idea/deploymentTargetSelector.xml
COPTAS/.idea/gradle.xml
COPTAS/.idea/kotlinc.xml
COPTAS/.idea/migrations.xml
COPTAS/.idea/misc.xml
COPTAS/.idea/vcs.xml
COPTAS/app/build.gradle.kts
COPTAS/app/proguard-rules.pro
COPTAS/app/src/androidTest/java/com/example/coptas/ExampleInstrumentedTest.kt
COPTAS/app/src/main/AndroidManifest.xml
COPTAS/app/src/main/ic_launcher-playstore.png
COPTAS/app/src/main/java/com/example/coptas/view/artikel/ArtikelActivity.kt
COPTAS/app/src/main/java/com/example/coptas/view/main/MainActivity.kt
COPTAS/app/src/main/java/com/example/coptas/view/riwayat/HistoryActivity.kt
COPTAS/app/src/main/res/drawable/arrow.png
COPTAS/app/src/main/res/drawable/hp.png
COPTAS/app/src/main/res/drawable/ic_article.xml
COPTAS/app/src/main/res/drawable/ic_button_more.xml
COPTAS/app/src/main/res/drawable/ic_history.xml
COPTAS/app/src/main/res/drawable/ic_home.xml
COPTAS/app/src/main/res/drawable/ic_hp2.png
COPTAS/app/src/main/res/drawable/ic_launcher_background.xml
COPTAS/app/src/main/res/drawable/ic_launcher_foreground.xml
COPTAS/app/src/main/res/drawable/matahari.png
COPTAS/app/src/main/res/drawable/rounded_rectangle.xml
COPTAS/app/src/main/res/drawable/scan.png
COPTAS/app/src/main/res/drawable/setting.png
COPTAS/app/src/main/res/drawable/title_background.xml
COPTAS/app/src/main/res/font/mirza_bold.ttf
COPTAS/app/src/main/res/font/mirza_medium.ttf
COPTAS/app/src/main/res/font/mirza_reguler.ttf
COPTAS/app/src/main/res/font/mirza_semibold.ttf
COPTAS/app/src/main/res/layout/activity_artikel.xml
COPTAS/app/src/main/res/layout/activity_history.xml
COPTAS/app/src/main/res/layout/activity_main.xml
COPTAS/app/src/main/res/layout/list_artikel.xml
COPTAS/app/src/main/res/layout/list_history.xml
COPTAS/app/src/main/res/menu/bottom_navigation.xml
COPTAS/app/src/main/res/menu/menu_main.xml
COPTAS/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
COPTAS/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
COPTAS/app/src/main/res/mipmap-hdpi/ic_launcher.webp
COPTAS/app/src/main/res/mipmap-hdpi/ic_launcher_foreground.webp
COPTAS/app/src/main/res/mipmap-hdpi/ic_launcher_round.webp
COPTAS/app/src/main/res/mipmap-mdpi/ic_launcher.webp
COPTAS/app/src/main/res/mipmap-mdpi/ic_launcher_foreground.webp
COPTAS/app/src/main/res/mipmap-mdpi/ic_launcher_round.webp
COPTAS/app/src/main/res/mipmap-xhdpi/ic_launcher.webp
COPTAS/app/src/main/res/mipmap-xhdpi/ic_launcher_foreground.webp
COPTAS/app/src/main/res/mipmap-xhdpi/ic_launcher_round.webp
COPTAS/app/src/main/res/mipmap-xxhdpi/ic_launcher.webp
COPTAS/app/src/main/res/mipmap-xxhdpi/ic_launcher_foreground.webp
COPTAS/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.webp
COPTAS/app/src/main/res/mipmap-xxxhdpi/ic_launcher.webp
COPTAS/app/src/main/res/mipmap-xxxhdpi/ic_launcher_foreground.webp
COPTAS/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.webp
COPTAS/app/src/main/res/transition/fade_transiton.xml
COPTAS/app/src/main/res/values-night/themes.xml
COPTAS/app/src/main/res/values/colors.xml
COPTAS/app/src/main/res/values/strings.xml
COPTAS/app/src/main/res/values/themes.xml
COPTAS/app/src/main/res/xml/backup_rules.xml
COPTAS/app/src/main/res/xml/data_extraction_rules.xml
COPTAS/app/src/test/java/com/example/coptas/ExampleUnitTest.kt
COPTAS/build.gradle.kts
COPTAS/gradle.properties
COPTAS/gradle/wrapper/gradle-wrapper.jar
COPTAS/gradle/wrapper/gradle-wrapper.properties
COPTAS/gradlew
COPTAS/gradlew.bat
COPTAS/settings.gradle.kts
COPTAS/.idea/.name
COPTAS/.idea/compiler.xml
COPTAS/.idea/deploymentTargetDropDown.xml
COPTAS/.idea/deploymentTargetSelector.xml
COPTAS/.idea/gradle.xml
COPTAS/.idea/kotlinc.xml
COPTAS/.idea/migrations.xml
COPTAS/.idea/misc.xml
COPTAS/.idea/vcs.xml
COPTAS/app/build.gradle.kts
COPTAS/app/proguard-rules.pro
COPTAS/app/src/androidTest/java/com/example/coptas/ExampleInstrumentedTest.kt
COPTAS/app/src/main/AndroidManifest.xml
COPTAS/app/src/main/ic_launcher-playstore.png
COPTAS/app/src/main/java/com/example/coptas/view/artikel/ArtikelActivity.kt
COPTAS/app/src/main/java/com/example/coptas/view/main/MainActivity.kt
COPTAS/app/src/main/java/com/example/coptas/view/riwayat/HistoryActivity.kt
COPTAS/app/src/main/res/drawable/arrow.png
COPTAS/app/src/main/res/drawable/hp.png
COPTAS/app/src/main/res/drawable/ic_article.xml
COPTAS/app/src/main/res/drawable/ic_button_more.xml
COPTAS/app/src/main/res/drawable/ic_history.xml
COPTAS/app/src/main/res/drawable/ic_home.xml
COPTAS/app/src/main/res/drawable/ic_hp2.png
COPTAS/app/src/main/res/drawable/ic_launcher_background.xml
COPTAS/app/src/main/res/drawable/ic_launcher_foreground.xml
COPTAS/app/src/main/res/drawable/matahari.png
COPTAS/app/src/main/res/drawable/rounded_rectangle.xml
COPTAS/app/src/main/res/drawable/scan.png
COPTAS/app/src/main/res/drawable/setting.png
COPTAS/app/src/main/res/drawable/title_background.xml
COPTAS/app/src/main/res/font/mirza_bold.ttf
COPTAS/app/src/main/res/font/mirza_medium.ttf
COPTAS/app/src/main/res/font/mirza_reguler.ttf
COPTAS/app/src/main/res/font/mirza_semibold.ttf
COPTAS/app/src/main/res/layout/activity_artikel.xml
COPTAS/app/src/main/res/layout/activity_history.xml
COPTAS/app/src/main/res/layout/activity_main.xml
COPTAS/app/src/main/res/layout/list_artikel.xml
COPTAS/app/src/main/res/layout/list_history.xml
COPTAS/app/src/main/res/menu/bottom_navigation.xml
COPTAS/app/src/main/res/menu/menu_main.xml
COPTAS/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
COPTAS/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
COPTAS/app/src/main/res/mipmap-hdpi/ic_launcher.webp
COPTAS/app/src/main/res/mipmap-hdpi/ic_launcher_foreground.webp
COPTAS/app/src/main/res/mipmap-hdpi/ic_launcher_round.webp
COPTAS/app/src/main/res/mipmap-mdpi/ic_launcher.webp
COPTAS/app/src/main/res/mipmap-mdpi/ic_launcher_foreground.webp
COPTAS/app/src/main/res/mipmap-mdpi/ic_launcher_round.webp
COPTAS/app/src/main/res/mipmap-xhdpi/ic_launcher.webp
COPTAS/app/src/main/res/mipmap-xhdpi/ic_launcher_foreground.webp
COPTAS/app/src/main/res/mipmap-xhdpi/ic_launcher_round.webp
COPTAS/app/src/main/res/mipmap-xxhdpi/ic_launcher.webp
COPTAS/app/src/main/res/mipmap-xxhdpi/ic_launcher_foreground.webp
COPTAS/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.webp
COPTAS/app/src/main/res/mipmap-xxxhdpi/ic_launcher.webp
COPTAS/app/src/main/res/mipmap-xxxhdpi/ic_launcher_foreground.webp
COPTAS/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.webp
COPTAS/app/src/main/res/transition/fade_transiton.xml
COPTAS/app/src/main/res/values-night/themes.xml
COPTAS/app/src/main/res/values/colors.xml
COPTAS/app/src/main/res/values/strings.xml
COPTAS/app/src/main/res/values/themes.xml
COPTAS/app/src/main/res/xml/backup_rules.xml
COPTAS/app/src/main/res/xml/data_extraction_rules.xml
COPTAS/app/src/test/java/com/example/coptas/ExampleUnitTest.kt
COPTAS/build.gradle.kts
COPTAS/gradle.properties
COPTAS/gradle/wrapper/gradle-wrapper.jar
COPTAS/gradle/wrapper/gradle-wrapper.properties
COPTAS/gradlew
COPTAS/gradlew.bat
COPTAS/settings.gradle.kts
